In [1]:
from __future__ import print_function, division
import pandas as pd

In [16]:
!python --version

Python 3.6.5 :: Anaconda, Inc.

In [17]:
print(pd.__version__)

0.23.0

In [2]:
mpg = pd.read_csv('dataset/milesPerGallon.csv')

In [3]:
print(mpg.head())

    mpg  cyl  displ   hp  weight  accel  yr origin                       name
0  18.0    8  307.0  130    3504   12.0  70     US  chevrolet chevelle malibu
1  15.0    8  350.0  165    3693   11.5  70     US          buick skylark 320
2  18.0    8  318.0  150    3436   11.0  70     US         plymouth satellite
3  16.0    8  304.0  150    3433   12.0  70     US              amc rebel sst
4  17.0    8  302.0  140    3449   10.5  70     US                ford torino

when we try to iterate over pandas dataframe, it will iterate over just column names.

In [4]:
for item in mpg:
    print(item)

mpg
cyl
displ
hp
weight
accel
yr
origin
name

To iterate over rows, we need to mention that we need to iterate over rows. we do this by calling dataframes' iterrows method and print row labels and row data where row is entire pandas data series.

In [5]:
for label,row in mpg.iterrows():
    print(label)
    print(row)

0
mpg                              18
cyl                               8
displ                           307
hp                              130
weight                         3504
accel                            12
yr                               70
origin                           US
name      chevrolet chevelle malibu
Name: 0, dtype: object
1
mpg                      15
cyl                       8
displ                   350
hp                      165
weight                 3693
accel                  11.5
yr                       70
origin                   US
name      buick skylark 320
Name: 1, dtype: object
2
mpg                       18
cyl                        8
displ                    318
hp                       150
weight                  3436
accel                     11
yr                        70
origin                    US
name      plymouth satellite
Name: 2, dtype: object
3
mpg                  16
cyl                   8
displ               304
hp                  150
weight             3433
accel                12
yr                   70
origin               US
name      amc rebel sst
Name: 3, dtype: object
4
mpg                17
cyl                 8
displ             302
hp                140
weight           3449
accel            10.5
yr                 70
origin             US
name      ford torino
Name: 4, dtype: object
5
mpg                     15
cyl                      8
displ                  429
hp                     198
weight                4341
accel                   10
yr                      70
origin                  US
name      ford galaxie 500
Name: 5, dtype: object
6
mpg                     14
cyl                      8
displ                  454
hp                     220
weight                4354
accel                    9
yr                      70
origin                  US
name      chevrolet impala
Name: 6, dtype: object
7
mpg                      14
cyl                       8
displ                   440
hp                      215
weight                 4312
accel                   8.5
yr                       70
origin                   US
name      plymouth fury iii
Name: 7, dtype: object
8
mpg                     14
cyl                      8
displ                  455
hp                     225
weight                4425
accel                   10
yr                      70
origin                  US
name      pontiac catalina
Name: 8, dtype: object
9
mpg                       15
cyl                        8
displ                    390
hp                       190
weight                  3850
accel                    8.5
yr                        70
origin                    US
name      amc ambassador dpl
Name: 9, dtype: object
10
mpg                        15
cyl                         8
displ                     383
hp                        170
weight                   3563
accel                      10
yr                         70
origin                     US
name      dodge challenger se
Name: 10, dtype: object
11
mpg                       14
cyl                        8
displ                    340
hp                       160
weight                  3609
accel                      8
yr                        70
origin                    US
name      plymouth 'cuda 340
Name: 11, dtype: object
12
mpg                          15
cyl                           8
displ                       400
hp                          150
weight                     3761
accel                       9.5
yr                           70
origin                       US
name      chevrolet monte carlo
Name: 12, dtype: object
13
mpg                            14
cyl                             8
displ                         455
hp                            225
weight                       3086
accel                          10
yr                             70
origin                         US
name      buick estate wagon (sw)
Name: 13, dtype: object
14
mpg                          24
cyl                           4
displ                       113
hp                           95
weight                     2372
accel                        15
yr                           70
origin                     Asia
name      toyota corona mark ii
Name: 14, dtype: object
15
mpg                    22
cyl                     6
displ                 198
hp                     95
weight               2833
accel                15.5
yr                     70
origin                 US
name      plymouth duster
Name: 15, dtype: object
16
mpg               18
cyl                6
displ            199
hp                97
weight          2774
accel           15.5
yr                70
origin            US
name      amc hornet
Name: 16, dtype: object
17
mpg                  21
cyl                   6
displ               200
hp                   85
weight             2587
accel                16
yr                   70
origin               US
name      ford maverick
Name: 17, dtype: object
18
mpg                 27
cyl                  4
displ               97
hp                  88
weight            2130
accel             14.5
yr                  70
origin            Asia
name      datsun pl510
Name: 18, dtype: object
19
mpg                                 26
cyl                                  4
displ                               97
hp                                  46
weight                            1835
accel                             20.5
yr                                  70
origin                          Europe
name      volkswagen 1131 deluxe sedan
Name: 19, dtype: object
20
mpg                25
cyl                 4
displ             110
hp                 87
weight           2672
accel            17.5
yr                 70
origin         Europe
name      peugeot 504
Name: 20, dtype: object
21
mpg                24
cyl                 4
displ             107
hp                 90
weight           2430
accel            14.5
yr                 70
origin         Europe
name      audi 100 ls
Name: 21, dtype: object
22
mpg             25
cyl              4
displ          104
hp              95
weight        2375
accel         17.5
yr              70
origin      Europe
name      saab 99e
Name: 22, dtype: object
23
mpg             26
cyl              4
displ          121
hp             113
weight        2234
accel         12.5
yr              70
origin      Europe
name      bmw 2002
Name: 23, dtype: object
24
mpg                21
cyl                 6
displ             199
hp                 90
weight           2648
accel              15
yr                 70
origin             US
name      amc gremlin
Name: 24, dtype: object
25
mpg              10
cyl               8
displ           360
hp              215
weight         4615
accel            14
yr               70
origin           US
name      ford f250
Name: 25, dtype: object
26
mpg              10
cyl               8
displ           307
hp              200
weight         4376
accel            15
yr               70
origin           US
name      chevy c20
Name: 26, dtype: object
27
mpg               11
cyl                8
displ            318
hp               210
weight          4382
accel           13.5
yr                70
origin            US
name      dodge d200
Name: 27, dtype: object

Let's access specific column while iterating using for loop

In [11]:
for label, row in mpg.iterrows():
    print(str(label) + ":" + row['origin'] + ":" + str(row['mpg']))

0:US:18.0
1:US:15.0
2:US:18.0
3:US:16.0
4:US:17.0
5:US:15.0
6:US:14.0
7:US:14.0
8:US:14.0
9:US:15.0
10:US:15.0
11:US:14.0
12:US:15.0
13:US:14.0
14:Asia:24.0
15:US:22.0
16:US:18.0
17:US:21.0
18:Asia:27.0
19:Europe:26.0
20:Europe:25.0
21:Europe:24.0
22:Europe:25.0
23:Europe:26.0
24:US:21.0
25:US:10.0
26:US:10.0
27:US:11.0